.hover-bg-light:hover {
    background-color: #f1f1f1 !important;
    cursor: pointer;
}

.hover-bg-warning:hover {
    background-color: #f0b608 !important;
    cursor: default;
}

.bg-f4f4f5 {
    background-color: #f4f4f5;
    color: #52525b;
}

.px-20 {
    padding-left: 10%;
    padding-right: 10%;
}
