body {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    transition: background-color 0.5s;
  }
  
  .slides {
    display: flex;
    height: 95vh;
    align-items: center;
    width: 95%;
    max-width: 900px;
    position: relative;
    margin: auto;
    overflow: hidden;
    background-color: transparent;
  }
  
  .slide {
    display: none;
  }
  
  .slide-img {
    height: 600px;
  }
  
  .caption {
    position: absolute;
    left: 0;
    width: 100%;
    max-width: fit-content;
    text-transform: capitalize;
    background-color: #ffffff;
    padding: 0.5em 0.75em;
    color: #696969;
    font-weight: 500;
    font-size: 1rem;
    transform: translateY(-70px);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
  }
  
  .caption span {
    overflow-wrap: break-word;
  }
  
  .arrow-btn {
    cursor: pointer;
    background: none;
    border: 0;
    color: rgba(255, 255, 255, 0.69);
    font-size: 4rem;
    position: absolute;
    padding: 0 10px;
    border-radius: 15px;
    top: 50%;
    transform: translateY(-70%);
  }
  
  .arrow-btn:hover {
    color: rgba(71, 71, 71, 0.7);
  }
  
  #left {
    left: 20px;
  }
  #mid {
    margin-left: 50%;
  }
  #right {
    right: 20px;
  }
  
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.5s ease;
  }
  
  .dot:hover {
    background-color: #666;
  }
  
  .active-dot {
    background-color: #2822c1;
  }
  
  .visible {
    animation: slide-in 0.5s forwards;
    display: block;
  }
  
  .slide-out {
    animation: slide-out 0.25s forwards;
  }
  
  @keyframes slide-in {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slide-out {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
